.footer {
	background: $black;
	color: $whited6;
	padding-top: 107px;
    &-logo {
        p {
            padding: 32px 0px 24px 0px;
            @include font_style (16px, $whited6, $regular);
        }
        &-social  {
            display: flex;
            a {
                border-radius:100%;
                color: $black77;
                background: $white;
                height: 40px;
                width: 40px;
                @include flex_box ('c','c');
                margin-right: 6px;
                transition: all .4s;
                &:hover svg {
                    color: $primaryColor;
                }
            }
        }
    }
    &-content {
        padding-top: 45px;
        h4 {
            text-transform: uppercase;
            @include font_style (20px, $white, $bold);
        }
        &-description {
            padding-top: 25px;
            li {
                padding-bottom: 20px;
                a {
                    color: $whited6;
                }
            }
        }
    }
    &-copyright {
        background: $black;
        padding-top: 60px;
        p {
            @include font_style (16px, $white, $regular);
            border-top: 1px solid $black5d;
            padding: 35px 0px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                top: -1px;
                left: 0;
                height: 1px;
                width: 48px;
                background: $primaryColor;
            }
            &:after {
                position: absolute;
                content: '';
                top: -1px;
                right: 0;
                height: 1px;
                width: 48px;
                background: $primaryColor;
            }
        }
    }
}
@media (max-width: 575px) { 
    .footer {
        .footer-logo {
            text-align: center;
            .footer-logo-social {
                justify-content: center;
            }
        }
        .justify-content-end {
            justify-content: center!important;
        }
    }
    
}

