/*============top-header-area start ============= */
.top-header {
	width: 100%;
    @include flex_box ('sb','c');
    &-time {
        @include flex_box ('fs','c');
        background: $black;
        padding: 25px 76px 25px 168px;
        p {
            margin-bottom: 0;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 400;
            color: $white;
        }
    }
    &-nav {
        @include flex_box ('fe','c');
        padding-right: 168px;
        .top-nav  {
            display: flex;
            a {
                font-size: 18px;
                font-weight: 400;
                text-transform: capitalize;
                color: $black18;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .top-icon {
            display: flex;
            margin-left:87px;
            a {
                height: 35px;
                width: 35px;
                line-height: 35px;
                text-align: center;
                border: 1px solid $whitee3;
                border-radius: 50%;
                color: $black;
                margin-left: 10px;
                svg {
                    vertical-align: baseline !important; 
                }
            }
        }
    }
}
/*============ top-header-area end ============= */
/*============ main-header-area start  ============= */
.main-header {
	padding-left: 168px;
    @include flex_box ('sb','c');
	background: $whitefb;
    .address {
        @include flex_box ('fe','c');
        &-item {
            @include flex_box ('fs','c');
            margin-right: 28px;
            :last-child {
                margin-right: 0;
            }
            &-icon {
                width: 60px;
                height: 60px;
                padding: 16px;
                border-radius: 5px 20px 20px 20px;
                background: $white;
                margin-right: 20px;
                color: $primaryColor;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    height: 13px;
                    width: 13px;
                    top: 0;
                    left: 0;
                    border-top-left-radius: 4px;
                    background: $primaryColor;
                }
            }
            &-content {
                label {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    color: $black77;
                    text-transform: uppercase;
                    opacity: 63%;
                }
                h5 {
                    font-size: 21px;
                    color: $black;
                    line-height: 28px;
                    font-weight: 700;
                }
            }
        }
    }
    .contact {
        @include flex_box ('c','c');
        padding: 20px 43px 20px 55px;
        background: $primaryColor;
        color: $white;
        &-content {
            label {
                font-size: 21px;
                line-height: 28px;
                font-weight: 500;
                text-transform: uppercase;
            }
            h5 {
                font-size: 30px;
                line-height: 39px;
                font-weight: 900;
            }
        }
        &-icon {
            height: 90px;
            width: 90px;
            margin-left: 32px;
            opacity: 27%;
        }
    }
}
/*============ main-header-area end  ============= */
/*============ nav-area start ============= */
.nav-area {
    padding: 0px 153px;
    background-color: $black;
    .menu ul {
        display: flex;
        li {
            padding-right: 32px;
            &:last-child {
                padding-right: 0;
            }
            a {
                display: inline-block;
                color: $white;
                font-size: 16px;
                line-height: 21px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
               
            }
        }
    }
    .contact-us {
        padding: 24px 0;
        a {
            padding: 13px 28px;
            background-color: $primaryColor;
            color: $white;
            border-radius: 5px;
            text-transform: uppercase;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
/*============ nav-area end ============= */