
/*============ sokti banner section start ============= */
.sokti-banner {
    background: url("../images/bgimage.jpg")no-repeat center center / cover;
   padding: 189px 0px 377px 0px;
   &-title {
        p {
            color: $white;
            line-height: 26px;
            margin: 17px 0 57px 0;
        }
   }
   &-contact {
        a {
            font-size: 18px;
            font-weight: 500;
            display: inline-block;
            text-transform: uppercase;
            background:transparent;
            color: $white;
            padding: 18px 30px;
            margin-right: 29px;
            border-radius: 3px;
            border: 1px solid $white;
            &:hover {
                background: $primaryColor;
                border: 1px solid $primaryColor;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
/*============ sokti banner section end ============= */
/*============ sokti about section sart ============= */
.about {
	border-radius: 10px;
    &-content{
        border-radius: 10px 0px 0px 10px;
        margin-top: -190px;
        background: $white;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(168,159,168,1);
        -moz-box-shadow: 2px 2px 3px 0px rgba(168,159,168,1);
        box-shadow: 2px 2px 3px -3px rgba(168,159,168,1);
        overflow: hidden;
        &-image {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
        }
        &-text {
            padding: 76px 64px 76px 50px;
            background-color: $white;
            position: relative;
            overflow: hidden;
            &::after {
                position: absolute;
                content: "";
                height: 200px;
                width: 200px;
                top: -125px;
                right: -125px;
                background: $primaryColor;
                transform: rotate(45deg);
            }
            .about-mission {
                margin-top: 22px;
                h4 {
                    margin-bottom: 12px;
                }
            }
        }
    }
}
/*============ sokti about section end ============= */
/*============ provider section Start ============= */
.provider-area {
	padding: 120px 0;
    .main-provider-are {
        margin-top: 57px;
        border-left: 4px solid $primaryColor;
        .provider-qa {
            display: flex;
            margin-bottom: 34px;
            &:last-child {
                margin-bottom: 0;
            }
            .qa-image {
                margin: 0 30px 0 25px;
            }
            .qa-area {
                h4 {
                    margin-bottom: 14px;
                }
            } 
        }
    }
    .industry-image-two {
        padding-bottom: 20px;
    }
    .happy-customer {
        background: $primaryColor;
        color: $white;
        border-radius: 10px;
        text-align: center;
        padding: 15px;
        position: relative;
        top: -72px;
        right: -149px;
        z-index: 9;
        width: 200px;
        .border-area {
            border: 2px solid $white;
            border-radius: 10px;
            padding: 10px;
            h1 {
                font-size: 48px;
                line-height: 64px;
            }
            p {
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                color: $white;
            }
        }
    }
}
/*============ service section Start ============= */
.service {
    position: relative;
    margin-bottom: 124px;
    &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        background: url('../images/bgimage01.jpg') no-repeat center center / cover;
        height: 100%;
        width: 50%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    &-item {
        padding: 50px 40px 47px;
        border-radius: 15px;
        border: 1px solid $whited7;
        background: $white;
        &-title {
            padding: 24px 0 20px 0;
        }
        &-content {
            p {
                font-weight: $regular;
            }
        }
        .read-more {
            margin-top: 19px;
            a {
                @include font_style (14px, $primaryColor, $bold, 19px);
                text-transform: uppercase;
                &:hover {
                    color: $black77;
                }
            }
        }
    }
    &-button {
        a {
            padding: 17px 30px;
            border-radius: 5px;
            background: $primaryColor;
            display: inline-block;
            text-transform: uppercase;
            margin-top: 38px;
            @include font_style (14px, $white, $medium, 19px);
       }
    }
    /* =============Owl carousel area Start======== */
    .owl-carousel {
        margin-top: 67px;
        margin-left: -10px;
        .owl-item {
            img{
                width: auto !important;
            }
        }
        .owl-stage {
            margin: 0px 9px;
            overflow: visible;
       }
    }
   /* =============Owl carousel area End======== */ 
}
/*============ Service section End ============= */
/*============ pricing section start ============= */
.pricing-wrapper {
    padding: 120px 0px;
    background: $white_fa;
    position: relative;
    z-index: 0;
    // &::before {
    //     position: absolute;
    //     content: '';
    //     right: 0;
    //     top: 0;
    //     background: url('../images/pricing-bg01.png') no-repeat center center / cover;
    //     height: 85%;
    //     width: 40%;
    //     z-index: 0;
    // }
    .pricing-title {
        text-align: center;	
        h5 {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 45px;
                height: 2px;
                top: 50%;
                transform: translateY(-50%);
                margin-left: -59px;
                background-color: $black;   
            }
        }
    }
    .pricing {
        margin-top: 67px;
        &-top {
            background: $primaryColor;
            padding: 60px 20px 30px;
            text-align: center;
            border-radius: 15px 15px 0 0;
            h6	{
                @include font_style(18px, $white, $bold, 24px);
                text-transform: uppercase;
                padding-top: 14px;
            }
            p {
                text-transform: uppercase;
                @include font_style(14px, $white, $bold, 19px);
                .price {
                    @include font_style(45px, $white, $ex_black, 59px);
                    padding-right: 10px;
                }
            }
            &-icon {
                background: $white;
                border-radius: 100%;
                width: 110px;
                height: 110px;
                margin: 0 auto;
                line-height: 110px;
            }
        }
        &-content {
            background: $white;
            padding: 40px 30px 60px;
            border-radius: 0px 0px 15px 15px;
            border: 1px solid $whited7;
            ul {
                li { 
                    padding: 17px 0px;
                    border-bottom: 1px solid $whitee7;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    @include font_style(16px, $black, $regular, 21px);
                    &:first-child {
                        padding-top: 0;
                    }
                    &:nth-child(4) {
                        border-bottom:none;
                        padding-bottom: 0;
                    }
                    .tick {
                        background: $primaryColor;
                        color: $white;
                        height: 16px;
                        width: 16px;
                        line-height: 16px;
                        text-align: center;
                        border-radius: 50%;
                        margin-right: 12px;
                        margin-left: 45px;
                    }
                }
            }
        }
        .pricing-button {
            padding-top: 45px;
            text-align: center;
            a {
                background: $black;
                padding: 14px 30px;
                border-radius: 5px;
                text-transform: uppercase;
                display: inline-block;
                transition: .3s;
                @include font_style(14px, $white, $medium, 19px);
                &:hover {
                    background: $primaryColor;
                }
            }
        }
    }
}
/*============ pricing section end ============= */
/*============ project section start ============= */
// #project-area {
// 	padding: 130px 0px 120px 0px;
// 	position: relative;
//     .project-title {
//         margin-bottom: 66px;
//     }
//     .test {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         &:before {
//             content: "";
//             display: block;
//             position: absolute;
//             top: 16px;
//             bottom: 16px;
//             left: 16px;
//             right: 16px;
//             background: rgba(0, 0, 0, 0.5);
//         }
//         .image {
//             width: 100%;
//             height: 100%;
//         }
//         .text {
//             font-family: 700;
//             font-size: 70px;
//             color: $white;
//             text-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.5);
//             margin: 0;
//             position: absolute;
//         }
//     }
//     .project-images {
//         position: relative;
//         border-radius: 5%;
//         .overlay {
//             position: absolute;
//             bottom: 0px;
//             background: rgb(0, 0, 0);
//             background: rgba('0,0,0,0.5');
//             color: $white;
//             width: 100%;
//             font-size: 24px;
//             font-weight: 700;
//             padding: 10px;
//             opacity: 0;
//             transition: .5s ease;
//         }
//         &:hover .overlay {
//             opacity: 1;
//             border-radius: 0 0 10% 10%;
//         }
//         &::before {
//             position: absolute;
//             content: "";
//             top: 0px;
//             left: 0px;
//             bottom: 0px;
//             right: 0px;
//             height: 100%;
//             width: 100%;
//             border-radius: 5%;
//             background: rgba(0, 0, 0, 0.5);
//         }
//     }
//     .owl-carousel .owl-nav button.owl-next {
//         width: 45px;
//         height: 45px;
//         line-height: 45px;
//         border-radius: 5px;
//         border: 1px solid $whitee5;
//         font-size: 35px;
//         &:hover {
//             color: $white;
//             background: $primaryColor;
//         }
//     }
//     .owl-carousel .owl-nav button.owl-prev {
//         width: 45px;
//         height: 45px;
//         line-height: 45px;
//         border-radius: 5px;
//         border: 1px solid $whitee5;
//         font-size: 35px;
//         &:hover {
//             color: $white;
//             background: $primaryColor;
//         }
//     }
//     .owl-theme .owl-nav {
//         position: absolute;
//         top: -204px;
//         right: 99px;
//     }
// }
/*============ project section end ============= */
/*============ energy section star ============= */
.energy {
	padding: 120px 0;
    &-img {
        // position: relative;
    }
    &-icon {
        margin-top: -73px;
        margin-left: 246px;
        // position: absolute;
        // left: 0;
        // bottom: 0;
        i {
            background: $primaryColor;
            color: $white;
            height: 110px;
            width: 110px;
            line-height: 110px;
            font-size: 30px;
            text-align: center;
            border-radius: 100%;
            cursor: pointer;
        }
    }
    &-controlling {
        padding-left: 45px;
        &-content {
            display: flex;
            margin-bottom: 34px;
            &:last-child {
                margin-bottom: 0;
            }
            .solar-panels {
                h4 {
                    margin-bottom: 12px;
                }
            }
        }
        &-title {
            margin-top: 65px;
        }
        &-image {
            padding-right: 30px;
        }
    }
    .modal-dialog {
        max-width: 900px;
        .modal-body {
            padding: 0;
            video {
                max-width: 100%;
            }
        }
    }
    .btn-modal-close {
        position: absolute;
        top: -25px;
        right: -25px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        color: #32C36C;
        background: $white;
    }
}
/*============ energy section end ============= */
/*============ team member section start ============= */
.team {
	padding: 120px 0px;
	background: $white_fa;
    &-member-top {
        text-align: center;
        h5 {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 45px;
                height: 2px;
                top: 50%;
                transform: translateY(-50%);
                margin-left: -59px;
                background: $black;	
            }
        }
    }
    &-member {
        padding-top: 60px;
        &-image {
            position: relative;
            height: 344px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .member-bio-icon {
                position: absolute;
                left: 40px;
                margin-top: -44px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                background: $primaryColor;
                text-align: center;
                color: $white;
                border-radius: 100%; 
            }
        }
        &-content {
            padding: 30px 40px 40px;
            background: $white;
            border: 1px solid $whited7;
            border-radius: 0px 0px 15px 15px;
            .member-name {
                border-left: 2px solid $black77;
                padding-left: 30px;
                h3 {
                    text-transform: uppercase;
                }
                p {
                   margin-top: 3px;
                    text-transform: uppercase;
                }
            }
        }
    }
    
}
/*============ team member section end ============= */
/*============ footprint section start ============= */
.footprint {
	position: relative;
	margin-top: 120px;
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: url('../images/footprint-img.jpg') no-repeat center center / cover ;
        height: 73%;
        width: 50%;
        z-index: -1;
    }
    &-top {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        &-title {
            flex-basis: 42%;
            padding-top: 120px;
            padding-bottom: 65px;
            align-content: center;
        }
    }
    &-item {
        border: 1px solid $whited7;
        padding: 30px;
        border-radius: 15px;
        background: $white;
        z-index: 9999;
        &-box {
            text-align: center;
            border: 1px solid $primaryColor;
            border-radius: 10px;
            padding: 50px 20px 46px;
            .footprint-icon {
                img {
                    padding-bottom: 30px;
                    border-bottom: 1px solid $primaryColor;
                }
            }
            .footprint-description {
                .count {
                    padding-top: 24px;
                    @include font_style(48px, $black, $ex_black, 64px);
                }
                p {
                    line-height: 23px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/*============ footprint section end ============= */
/*============ customer feedback section start ============= */
.customer {
	padding: 110px 0px 120px;
	position: relative;
    &-item {
        padding: 35px 20px 40px 30px;
        border-radius: 15px;
        border: 1px solid $whited7;
        .customer-review {
            @include font_style(16px, $black, $regular, 25px, null, italic);
            margin-bottom: 33px;
        }
        &-profile {
            display: flex;
            align-items: center;
            .customer-item-img {
                position: relative;
                .customer-image {
                    margin-right: 27px;
                    height: 70px;
                    width: 70px;
                    border-radius: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .left-quotes-sign {
                    position: absolute;
                    bottom: 5px;
                    right: 15%;
                    height: 35px;
                    width: 35px;
                    line-height: 35px;
                    text-align: center;
                    background: $primaryColor;
                    border-radius: 100%;
                }
            }
            .customer-name {
                border-left: 2px solid $whitee5;
                padding-left: 15px;
                h6 {
                    @include font_style(16px, $black, $bold, 21px);
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                p {
                    @include font_style(14px, null, $regular, 19px);
                    text-transform: uppercase;
                }
            }
        }
    }
/* ============= customer feedback  owl carousel section start======== */
 .owl-carousel {
	margin-top: 65px;
    .owl-nav {
        button.owl-next {
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 5px;
            border: 1px solid $whited7;
            font-size: 35px;
            &:hover {
                color: $white;
                background: $primaryColor;
            }
        }
        button.owl-prev {
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 5px;
            border: 1px solid $whited7;
            font-size: 35px;
            &:hover {
                color: $white;
                background: $primaryColor;
            }
        }
    }
    button:focus {
        outline: none;
    }
    .owl-stage-outer {
        width: 101%;
        .owl-stage {
            margin: 5px 2px;
            overflow: visible;
       }
    }
}
 .owl-theme .owl-nav {
    position: absolute;
    top: -163px;
    right: 0;
}
/* =============customer-feedback  .owl-carousel area */
}
/*============ customer feedback section end ============= */
