
/*============ sokti-banner-area Start ============= */
.sokti-banner {
    background: url("../images/bgimage.jpg")no-repeat center center / cover;
   padding: 189px 0px 377px 0px;
   &-title {
        p {
            color: $white;
            line-height: 26px;
            margin: 17px 0 57px 0;
        }
   }
   &-contact {
        a {
            font-size: 18px;
            font-weight: 500;
            display: inline-block;
            text-transform: uppercase;
            background:transparent;
            color: $white;
            padding: 18px 30px;
            margin-right: 29px;
            border-radius: 3px;
            border: 1px solid $white;
            &:hover {
                background: $primaryColor;
                border: 1px solid $primaryColor;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
/*============ sokti-banner-area end ============= */
