@import "variables";
@import "mixins";
@import "bootstrap.min.css";
@import "header";
@import "homepage";
@import "post";
@import "post-details";
@import "about";
@import "contact";
@import "footer";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: $primaryFont;
  background: $white;
}

img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: $black;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: $black77;
  font-style: normal;
  margin-bottom: 0;
  @media (max-width: 991px) { 
    line-height: 24px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  text-transform: uppercase;
  color: $white;
  @media (max-width: 991px) { 
    font-size: 30px;
    line-height: 50px;
  }
}
h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 39px;
  text-transform: uppercase;
  @media (max-width: 991px) { 
    font-size: 20px;
    line-height: 29px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  @media (max-width: 991px) { 
    font-size: 18px;
    line-height: 28px;
  }
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  @media (max-width: 991px) { 
    font-size: 18px;
    line-height: 24px;
  }
}
.sokti-top-title {
  h5 {
    @include font_style (14px, $primaryColor, $bold, 19px, 3px);
    text-transform: uppercase;
    margin-bottom: 4px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 45px;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      background: $black;
    }
  }
  p {
    line-height: 26px;
    margin-top: 15px;
  }
  @media (max-width: 991px) { 
    p {
      line-height: 24px;
    }
  }
}