/*
 * small box shadow
*/
/*
 * transition effects
*/
/*
 * blue, gray, light-blue, yellow, red, green, white-gray , black, white
*/
/*
 * global font style
*/
/*
 * global image path
*/
/**
 * custom scroll bar start
 */
/**
 * word-break mixin start
 */
@import "bootstrap.min.css";
/*============top-header-area start ============= */
.top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #1E1E2A;
  padding: 25px 76px 25px 168px;
}
.top-header-time p {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.top-header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 168px;
}
.top-header-nav .top-nav {
  display: flex;
}
.top-header-nav .top-nav a {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #0D2918;
  margin-right: 30px;
}
.top-header-nav .top-nav a:last-child {
  margin-right: 0;
}
.top-header-nav .top-icon {
  display: flex;
  margin-left: 87px;
}
.top-header-nav .top-icon a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #DFE9E3;
  border-radius: 50%;
  color: #1E1E2A;
  margin-left: 10px;
}
.top-header-nav .top-icon a svg {
  vertical-align: baseline !important;
}

/*============ top-header-area end ============= */
/*============ main-header-area start  ============= */
.main-header {
  padding-left: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FBFBFB;
}
.main-header .address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header .address-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 28px;
}
.main-header .address-item :last-child {
  margin-right: 0;
}
.main-header .address-item-icon {
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 5px 20px 20px 20px;
  background: #fff;
  margin-right: 20px;
  color: #32C36C;
  position: relative;
}
.main-header .address-item-icon:after {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  background: #32C36C;
}
.main-header .address-item-content label {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #777777;
  text-transform: uppercase;
  opacity: 63%;
}
.main-header .address-item-content h5 {
  font-size: 21px;
  color: #1E1E2A;
  line-height: 28px;
  font-weight: 700;
}
.main-header .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 43px 20px 55px;
  background: #32C36C;
  color: #fff;
}
.main-header .contact-content label {
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-header .contact-content h5 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 900;
}
.main-header .contact-icon {
  height: 90px;
  width: 90px;
  margin-left: 32px;
  opacity: 27%;
}

/*============ main-header-area end  ============= */
/*============ nav-area start ============= */
.nav-area {
  padding: 0px 153px;
  background-color: #1E1E2A;
}
.nav-area .menu ul {
  display: flex;
}
.nav-area .menu ul li {
  padding-right: 32px;
}
.nav-area .menu ul li:last-child {
  padding-right: 0;
}
.nav-area .menu ul li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-area .contact-us {
  padding: 24px 0;
}
.nav-area .contact-us a {
  padding: 13px 28px;
  background-color: #32C36C;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

/*============ nav-area end ============= */
/*============ sokti-banner-area Start ============= */
.sokti-banner {
  background: url("../images/bgimage.jpg") no-repeat center center/cover;
  padding: 189px 0px 377px 0px;
}
.sokti-banner-title p {
  color: #fff;
  line-height: 26px;
  margin: 17px 0 57px 0;
}
.sokti-banner-contact a {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  padding: 18px 30px;
  margin-right: 29px;
  border-radius: 3px;
  border: 1px solid #fff;
}
.sokti-banner-contact a:hover {
  background: #32C36C;
  border: 1px solid #32C36C;
}
.sokti-banner-contact a:last-child {
  margin-right: 0;
}

/*============ sokti-banner-area end ============= */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #1E1E2A;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #777777;
  font-style: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  text-transform: uppercase;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}/*# sourceMappingURL=style.css.map */