/*
 * small box shadow
*/
/*
 * transition effects
*/
/*
 * blue, gray, light-blue, yellow, red, green, white-gray , black, white
*/
/*
 * global font style
*/
/*
 * global image path
*/
/**
 * custom scroll bar start
 */
/**
 * word-break mixin start
 */
@import "bootstrap.min.css";
/*============top-header-area start ============= */
.top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #1E1E2A;
  padding: 25px 76px 25px 168px;
}
.top-header-time p {
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.top-header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 168px;
}
.top-header-nav .top-nav {
  display: flex;
}
.top-header-nav .top-nav a {
  font-size: 18px;
  color: #0D2918;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 30px;
}
.top-header-nav .top-nav a:last-child {
  margin-right: 0;
}
.top-header-nav .top-icon {
  display: flex;
  margin-left: 87px;
}
.top-header-nav .top-icon a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #DFE9E3;
  border-radius: 50%;
  color: #1E1E2A;
  margin-left: 10px;
}
.top-header-nav .top-icon a svg {
  vertical-align: baseline !important;
}

/*============ top-header-area end ============= */
/*============ main-header-area start  ============= */
.main-header {
  padding-left: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FBFBFB;
}
.main-header .address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header .address-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 28px;
}
.main-header .address-item:last-child {
  margin-right: 0;
}
.main-header .address-item-icon {
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 5px 20px 20px 20px;
  background: #fff;
  margin-right: 20px;
  color: #32C36C;
  position: relative;
}
.main-header .address-item-icon:after {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  background: #32C36C;
}
.main-header .address-item-content label {
  font-size: 18px;
  color: #777777;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 63%;
}
.main-header .address-item-content h5 {
  font-size: 21px;
  color: #1E1E2A;
  font-weight: 700;
  line-height: 28px;
}
.main-header .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 43px 20px 55px;
  background: #32C36C;
  color: #fff;
}
.main-header .contact-content label {
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-header .contact-content h5 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 900;
}
.main-header .contact-icon {
  height: 90px;
  width: 90px;
  margin-left: 32px;
  opacity: 27%;
}

/*============ main-header-area end  ============= */
/*============ nav-area start ============= */
.nav-area {
  padding: 0px 153px;
  background-color: #1E1E2A;
}
.nav-area .menu ul {
  display: flex;
}
.nav-area .menu ul li {
  padding-right: 32px;
}
.nav-area .menu ul li:last-child {
  padding-right: 0;
}
.nav-area .menu ul li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-area .contact-us {
  padding: 24px 0;
}
.nav-area .contact-us a {
  padding: 13px 28px;
  background-color: #32C36C;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

/*============ nav-area end ============= */
@media (max-width: 1600px) {
  .top-header-time {
    padding-left: 113px;
  }
  .top-header-nav {
    padding-right: 113px;
  }
  .main-header {
    padding-left: 113px;
  }
  .main-header .address-item-content label {
    font-size: 16px;
    line-height: 21px;
  }
  .main-header .address-item-content h5 {
    font-size: 18px;
    line-height: 24px;
  }
  .main-header .contact {
    padding: 20px 23px 20px 35px;
  }
  .main-header .contact label {
    font-size: 18px;
    line-height: 24px;
  }
  .main-header .contact h5 {
    font-size: 25px;
    line-height: 34px;
  }
  .main-header .contact .contact-icon {
    height: 70px;
    width: 70px;
    margin-left: 22px;
  }
  .main-header .contact .contact-icon svg {
    height: 70px;
    width: 70px;
  }
  .nav-area {
    padding: 0px 98px;
  }
}
@media (max-width: 1366px) {
  .top-header-time {
    padding-left: 113px;
  }
  .top-header-nav {
    padding-right: 113px;
  }
  .main-header {
    padding-left: 113px;
  }
  .nav-area {
    padding: 0px 98px;
  }
}
/*============ banner section start ============= */
.sokti-banner {
  background: url("../images/bgimage.jpg") no-repeat center center/cover;
  padding: 189px 0px 377px 0px;
}
.sokti-banner-title p {
  color: #fff;
  line-height: 26px;
  margin: 17px 0 57px 0;
}
.sokti-banner-contact a {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  padding: 18px 30px;
  margin-right: 29px;
  border-radius: 3px;
  border: 1px solid #fff;
}
.sokti-banner-contact a:hover {
  background: #32C36C;
  border: 1px solid #32C36C;
}
.sokti-banner-contact a:last-child {
  margin-right: 0;
}
@media (max-width: 420px) {
  .sokti-banner-contact a {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

/*============ banner section end ============= */
/*============ about section start ============= */
.about {
  border-radius: 10px;
}
.about-content {
  border-radius: 10px 0px 0px 10px;
  margin-top: -190px;
  background: #fff;
  box-shadow: 2px 2px 3px -3px rgb(168, 159, 168);
  overflow: hidden;
}
.about-content-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.about-content-image img {
  width: 100%;
  height: auto;
}
.about-content-text {
  padding: 76px 64px 76px 50px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.about-content-text::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  top: -125px;
  right: -125px;
  background: #32C36C;
  transform: rotate(45deg);
}
.about-content-text .about-mission {
  margin-top: 22px;
}
.about-content-text .about-mission h4 {
  margin-bottom: 12px;
}

/*============ about section end ============= */
/*============ provider section start ============= */
.provider-area {
  padding: 120px 0;
}
.provider-area .main-provider-are {
  margin-top: 57px;
  border-left: 4px solid #32C36C;
}
.provider-area .main-provider-are .provider-qa {
  display: flex;
  margin-bottom: 34px;
}
.provider-area .main-provider-are .provider-qa:last-child {
  margin-bottom: 0;
}
.provider-area .main-provider-are .provider-qa .qa-image {
  margin: 0 30px 0 25px;
}
.provider-area .main-provider-are .provider-qa .qa-area h4 {
  margin-bottom: 14px;
}
.provider-area .industry-image-two {
  padding-bottom: 20px;
}
.provider-area .happy-customer {
  background: #32C36C;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  position: relative;
  top: -72px;
  right: -149px;
  z-index: 9;
}
.provider-area .happy-customer .border-area {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
}
.provider-area .happy-customer .border-area h1 {
  font-size: 48px;
  line-height: 64px;
}
.provider-area .happy-customer .border-area p {
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

/*============ service section Start ============= */
.service {
  position: relative;
  margin-bottom: 124px;
  overflow: hidden;
  /* =============Owl carousel area Start======== */
  /* =============Owl carousel area End======== */
}
.service::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  background: url("../images/bgimage01.jpg") no-repeat center center/cover;
  height: 100%;
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media (max-width: 767px) {
  .service::before {
    display: none;
  }
}
.service-item {
  padding: 50px 40px 47px;
  border-radius: 15px;
  border: 1px solid #EAEAEA;
  background: #fff;
}
.service-item-title {
  padding: 24px 0 20px 0;
}
.service-item-content p {
  font-weight: 400;
}
.service-item .read-more {
  margin-top: 19px;
}
.service-item .read-more a {
  font-size: 14px;
  color: #32C36C;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
}
.service-item .read-more a:hover {
  color: #777777;
}
.service-button a {
  padding: 17px 30px;
  border-radius: 5px;
  background: #32C36C;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 38px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
}
.service .owl-carousel {
  margin-top: 67px;
  margin-left: -10px;
  width: 120%;
}
.service .owl-carousel .owl-item img {
  width: auto !important;
}
.service .owl-carousel .owl-stage {
  margin: 0px 9px;
  overflow: visible;
}
@media (max-width: 767px) {
  .service .owl-carousel {
    width: 100%;
    margin-left: 0;
  }
  .service .owl-carousel .owl-stage {
    margin: 0px 0px !important;
  }
}

/*============ service section end ============= */
/*============ pricing section start ============= */
.pricing-wrapper {
  padding: 120px 0px;
  background: #F6FFFA;
  position: relative;
  z-index: 0;
}
.pricing-wrapper::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url("../images/pricing-bg01.png") no-repeat center center/cover;
  height: 85%;
  width: 40%;
  z-index: -1;
}
.pricing-wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: url("../images/pricing-bg01.png") no-repeat center center/cover;
  height: 85%;
  width: 40%;
  z-index: -1;
}
.pricing-wrapper .pricing-title {
  text-align: center;
}
.pricing-wrapper .pricing-title h5 {
  position: relative;
}
.pricing-wrapper .pricing-title h5::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -59px;
  background-color: #1E1E2A;
}
.pricing-wrapper .pricing {
  margin-top: 67px;
}
.pricing-wrapper .pricing-top {
  background: #32C36C;
  padding: 60px 20px 30px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.pricing-wrapper .pricing-top h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 14px;
}
.pricing-wrapper .pricing-top p {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 19px;
}
.pricing-wrapper .pricing-top p .price {
  font-size: 45px;
  color: #fff;
  font-weight: 900;
  line-height: 59px;
  padding-right: 10px;
}
.pricing-wrapper .pricing-top-icon {
  background: #fff;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  line-height: 110px;
}
.pricing-wrapper .pricing-content {
  background: #fff;
  padding: 40px 30px 60px;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #EAEAEA;
}
.pricing-wrapper .pricing-content ul li {
  padding: 17px 0px;
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 400;
  line-height: 21px;
}
.pricing-wrapper .pricing-content ul li:first-child {
  padding-top: 0;
}
.pricing-wrapper .pricing-content ul li:nth-child(4) {
  border-bottom: none;
  padding-bottom: 0;
}
.pricing-wrapper .pricing-content ul li .tick {
  background: #32C36C;
  color: #fff;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 45px;
}
.pricing-wrapper .pricing .pricing-button {
  padding-top: 45px;
  text-align: center;
}
.pricing-wrapper .pricing .pricing-button a {
  background: #1E1E2A;
  padding: 14px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
}
.pricing-wrapper .pricing .pricing-button a:hover {
  background: #32C36C;
}

/*============ pricing section end ============= */
/*============ project section start ============= */
.project {
  padding-top: 130px;
}
.project-wrapper {
  display: flex;
  justify-content: space-between;
}
.project-wrapper-done {
  width: calc(30% - 15px);
  background: url(../images/energy01.jpg) no-repeat center center/cover;
  position: relative;
}
.project-wrapper-done .project-done-inner {
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  background: rgba(30, 30, 42, 0.9);
}
.project-wrapper-done .project-done-inner .content {
  text-align: center;
  border: 1px solid #fff;
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.project-wrapper-done .project-done-inner .content .content-wrapper {
  padding: 10px;
}
.project-wrapper-done .project-done-inner .content .content-wrapper .text {
  font-size: 107px;
  color: #fff;
  font-weight: 700;
  line-height: 143px;
}
.project-wrapper-done .project-done-inner .content .content-wrapper .text span {
  font-size: 70px;
}
.project-wrapper-done .project-done-inner .content .content-wrapper h3 {
  color: #32C36C;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.project-wrapper-done .project-done-inner .content .content-wrapper a {
  padding: 17px 30px;
  border-radius: 5px;
  background: #32C36C;
  display: inline-block;
  text-transform: uppercase;
  margin: 77px 0 43px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}
.project-wrapper-content {
  width: calc(70% - 15px);
}
.project-wrapper-content .item {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  transition: 0.3s;
}
.project-wrapper-content .item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-wrapper-content .item .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(30, 30, 42, 0.8);
}
.project-wrapper-content .item .overlay .overlay-content {
  padding: 20px;
}
.project-wrapper-content .item .overlay .overlay-content h3 {
  color: #fff;
}
.project-wrapper-content .item .overlay .overlay-content p {
  color: #32C36C;
}
.project-wrapper-content .item:hover .overlay {
  opacity: 1;
}
.project .owl-carousel {
  margin-top: 67px;
}
.project .owl-carousel .owl-nav {
  position: absolute;
  top: -210px;
  right: 99px;
  margin-top: 0;
}
.project .owl-carousel .owl-nav button.owl-next {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  font-size: 35px;
}
.project .owl-carousel .owl-nav button.owl-next:hover {
  color: #fff;
  background: #32C36C;
}
.project .owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  font-size: 35px;
}
.project .owl-carousel .owl-nav button.owl-prev:hover {
  color: #fff;
  background: #32C36C;
}
.project button:focus {
  outline: none;
}

/*============ project section end ============= */
/*============ energy section start ============= */
.energy {
  padding: 120px 0;
}
.energy .energy-img {
  position: relative;
  width: 457px;
  height: 428px;
}
.energy .energy-img .energy-icon {
  position: absolute;
  right: 92px;
  bottom: -36px;
}
.energy .energy-img .energy-icon i {
  background: #32C36C;
  color: #fff;
  height: 110px;
  width: 110px;
  line-height: 110px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}
.energy-controlling {
  padding-left: 45px;
}
.energy-controlling-content {
  display: flex;
  margin-bottom: 34px;
}
.energy-controlling-content:last-child {
  margin-bottom: 0;
}
.energy-controlling-content .solar-panels h4 {
  margin-bottom: 12px;
}
.energy-controlling-title {
  margin-top: 65px;
}
.energy-controlling-image {
  padding-right: 30px;
}
@media (max-width: 767px) {
  .energy-controlling {
    margin-top: 30px;
    padding-left: 0;
  }
}
.energy .modal-dialog {
  max-width: 900px;
  margin-top: 30px;
}
.energy .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
.energy .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.energy .modal-dialog .modal-content .modal-body video {
  height: 100%;
}
.energy .modal-dialog .modal-content .modal-body video .iframe {
  max-width: 100%;
}
.energy .btn-modal-close {
  position: absolute;
  top: -25px;
  right: -25px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #32C36C;
  background: #fff;
}

/*============ energy section end ============= */
/*============ team member section start ============= */
.team {
  padding: 120px 0px;
  background: #F6FFFA;
}
.team-member-top {
  text-align: center;
}
.team-member-top h5 {
  position: relative;
}
.team-member-top h5::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -59px;
  background: #1E1E2A;
}
.team-member {
  padding-top: 60px;
}
.team-member-image {
  position: relative;
  height: 344px;
  width: 100%;
}
.team-member-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-member-image .member-bio-icon {
  position: absolute;
  left: 40px;
  margin-top: -44px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #32C36C;
  text-align: center;
  color: #fff;
  border-radius: 100%;
}
.team-member-content {
  padding: 30px 40px 40px;
  background: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 0px 0px 15px 15px;
}
.team-member-content .member-name {
  border-left: 2px solid #777777;
  padding-left: 30px;
}
.team-member-content .member-name h3 {
  text-transform: uppercase;
}
.team-member-content .member-name p {
  margin-top: 3px;
  text-transform: uppercase;
}

/*============ team member section end ============= */
/*============ footprint section start ============= */
.footprint {
  position: relative;
  margin-top: 120px;
}
.footprint::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../images/footprint-img.jpg") no-repeat center center/cover;
  height: 73%;
  width: 50%;
  z-index: -1;
}
.footprint-top {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footprint-top-title {
  flex-basis: 42%;
  padding-top: 120px;
  padding-bottom: 65px;
  align-content: center;
}
.footprint-item {
  border: 1px solid #EAEAEA;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  z-index: 9999;
}
.footprint-item-box {
  text-align: center;
  border: 1px solid #32C36C;
  border-radius: 10px;
  padding: 50px 20px 46px;
}
.footprint-item-box .footprint-icon img {
  padding-bottom: 30px;
  border-bottom: 1px solid #32C36C;
}
.footprint-item-box .footprint-description .count {
  padding-top: 24px;
  font-size: 48px;
  color: #1E1E2A;
  font-weight: 900;
  line-height: 64px;
}
.footprint-item-box .footprint-description p {
  line-height: 23px;
  text-transform: uppercase;
}

/*============ footprint section end ============= */
/*============ customer feedback section start ============= */
.customer {
  padding: 110px 0px 120px;
  position: relative;
  /* ============= customer feedback  owl carousel section start======== */
  /* =============customer-feedback  .owl-carousel area */
}
.customer-item {
  padding: 35px 20px 40px 30px;
  border-radius: 15px;
  border: 1px solid #EAEAEA;
}
.customer-item .customer-review {
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 400;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 33px;
}
.customer-item-profile {
  display: flex;
  align-items: center;
}
.customer-item-profile .customer-item-img {
  position: relative;
}
.customer-item-profile .customer-item-img .customer-image {
  margin-right: 27px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.customer-item-profile .customer-item-img .customer-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.customer-item-profile .customer-item-img .left-quotes-sign {
  position: absolute;
  bottom: 5px;
  right: 15%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #32C36C;
  border-radius: 100%;
}
.customer-item-profile .customer-name {
  border-left: 2px solid #E5E5E5;
  padding-left: 15px;
}
.customer-item-profile .customer-name h6 {
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.customer-item-profile .customer-name p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}
.customer .owl-carousel {
  margin-top: 65px;
}
.customer .owl-carousel .owl-nav {
  position: absolute;
  top: -167px;
  right: 0;
  margin-top: 0px;
}
.customer .owl-carousel .owl-nav button.owl-next {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  font-size: 35px;
}
.customer .owl-carousel .owl-nav button.owl-next:hover {
  color: #fff;
  background: #32C36C;
}
.customer .owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  font-size: 35px;
}
.customer .owl-carousel .owl-nav button.owl-prev:hover {
  color: #fff;
  background: #32C36C;
}
.customer .owl-carousel button:focus {
  outline: none;
}
.customer .owl-carousel .owl-stage-outer {
  width: 101%;
}
.customer .owl-carousel .owl-stage-outer .owl-stage {
  margin: 5px 2px;
  overflow: visible;
}

/*============ customer feedback section end ============= */
/*============ partner section start ============= */
.partner-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px 0px 50px 0px;
  background: #D1F3DF;
  border-radius: 10px;
}
.partner-item-img {
  flex-basis: 16%;
  text-align: center;
}

/*============ partner section end ============= */
/*============ news feed section start ============= */
.news {
  padding: 120px 0px 110px 0px;
  position: relative;
  /*============ news feed section owl-carousel area start ============= */
  /*============ news feed section owl-carousel area end ============= */
}
.news-item {
  padding-top: 16px;
}
.news-item-img {
  height: 196px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.news-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-item-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.news-item-author .blog-date {
  background: #32C36C;
  text-align: center;
  padding: 10px 14px;
  border-radius: 10px;
  color: #fff;
  margin-top: -44px;
  margin-left: 25px;
}
.news-item-author .blog-date .day {
  font-size: 41px;
  color: #fff;
  font-weight: 700;
  line-height: 41px;
}
@media (max-width: 1200px) {
  .news-item-author .blog-date .day {
    font-size: 30px;
    line-height: 31px;
  }
}
.news-item-author .blog-date .month {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.news-item-author .admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.news-item-author .admin li {
  font-size: 12px;
  color: #777777;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 30px;
}
.news-item-author .admin li:first-child {
  margin-left: 0;
}
.news-item-author .admin li svg {
  margin-right: 10px;
}
.news-item-title {
  margin: 26px 0 0 25px;
}
.news .owl-carousel {
  margin-top: 67px;
}
.news .owl-carousel .owl-nav {
  position: absolute;
  top: -170px;
  right: -6px;
  margin-top: 0;
}
.news .owl-carousel .owl-nav button.owl-next {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  font-size: 35px;
}
.news .owl-carousel .owl-nav button.owl-next:hover {
  color: #fff;
  background: #32C36C;
}
.news .owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  font-size: 35px;
}
.news .owl-carousel .owl-nav button.owl-prev:hover {
  color: #fff;
  background: #32C36C;
}
.news button:focus {
  outline: none;
}
.news .owl-stage {
  margin: 5px 2px;
  overflow: visible;
}

/*============ news feed section end ============= */
/*============ map section start ============= */
.map-title {
  margin-top: -112px;
}
.map-title h6 {
  text-align: center;
  font-size: 60px;
  color: #1E1E2A;
  font-weight: 500;
  line-height: 80px;
  margin-bottom: 98px;
}
.map-title span {
  color: #32C36C;
}

/*============ map section end ============= */
/*============ responsive section ============= */
@media (max-width: 1600px) {
  .project .project-wrapper .project-wrapper-done .content-wrapper .text {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    line-height: 103px;
  }
  .project .project-wrapper .project-wrapper-done .content-wrapper .text span {
    font-size: 50px;
  }
  .project .project-wrapper .project-wrapper-done .content-wrapper h3 {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .project .project-wrapper .project-wrapper-done .content-wrapper .text {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    line-height: 103px;
  }
  .project .project-wrapper .project-wrapper-done .content-wrapper .text span {
    font-size: 50px;
  }
  .project .project-wrapper .project-wrapper-done .content-wrapper h3 {
    font-size: 20px;
  }
  .project .project-wrapper .project-wrapper-done .content-wrapper a {
    margin: 40px 0 43px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 24px;
  }
}
@media (max-width: 1200px) {
  .project .project-wrapper {
    flex-direction: column-reverse;
  }
  .project .project-wrapper .project-wrapper-done {
    display: none;
  }
  .project .project-wrapper .project-wrapper-content {
    width: 100%;
  }
  .energy .energy-img {
    position: relative;
    width: 357px;
    height: 328px;
  }
  .energy .energy-img .energy-icon {
    position: absolute;
    right: 73px;
    bottom: -34px;
  }
  .energy .energy-img .energy-icon i {
    height: 85px;
    width: 85px;
    line-height: 85px;
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .provider-area .happy-customer .border-area h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .provider-area .happy-customer .border-area p {
    line-height: 18px;
  }
  .pricing-wrapper .pricing-top .price {
    font-size: 30px !important;
    line-height: 49px !important;
  }
  .pricing-wrapper .pricing-top h6 {
    font-size: 16px;
    line-height: 22px;
  }
  .pricing-wrapper .tick {
    margin-left: 20px !important;
  }
  .energy .energy-img {
    position: relative;
    width: 357px;
    height: 328px;
  }
  .energy .energy-img .energy-icon {
    position: absolute;
    right: 73px;
    bottom: -34px;
  }
  .energy .energy-img .energy-icon i {
    height: 85px;
    width: 85px;
    line-height: 85px;
    font-size: 25px;
  }
  .energy .energy-controlling {
    padding-left: 0 !important;
    margin-top: 100px;
  }
  .team .team-member-content {
    padding: 30px 30px 40px;
  }
  .team .team-member-content .member-name {
    padding-left: 20px;
  }
  .footprint .footprint-item {
    padding: 20px;
  }
  .footprint .footprint-item .footprint-item-box {
    padding: 50px 15px 46px;
  }
  .footprint .footprint-item .footprint-item-box .count {
    font-size: 35px !important;
    line-height: 48px !important;
  }
  .map-title h6 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .provider-area img {
    width: 100% !important;
  }
  .provider-area .industry-image {
    margin-top: 30px;
  }
  .provider-area .industry-image .industry-image-one {
    display: none;
  }
  .provider-area .industry-image .happy-customer {
    top: 0;
    right: 0;
    margin-bottom: 20px;
  }
  .pricing-wrapper .pricing-content ul li {
    justify-content: center;
  }
  .energy-img img {
    width: 100%;
  }
  .energy .btn-modal-close {
    top: -25px;
    right: 0;
  }
  .footprint::before {
    display: none;
  }
  .footprint .footprint-top-title {
    flex-basis: 100%;
    padding-top: 0;
  }
  .footprint .footprint-item {
    margin-bottom: 30px;
  }
  .footprint .footprint-item:last-child {
    margin-bottom: 0;
  }
}
/*============ banner section start ============= */
.bg-banner {
  background: url("../images/blog-bg.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 155px 0;
}
.bg-banner p {
  font-weight: 400;
  color: #fff;
}
.bg-banner svg {
  margin: 0px 5px 0px 5px;
}
.bg-banner span {
  font-size: 14px;
  text-transform: uppercase;
}

/*============ banner section end ============= */
/*============ blog post section start ============= */
.blog {
  padding-top: 130px;
}
.blog .blog-item {
  margin-bottom: 80px;
}
.blog .blog-item-img {
  height: 443px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.blog .blog-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .blog-item-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.blog .blog-item-author .blog-date {
  background: #32C36C;
  text-align: center;
  padding: 10px 14px;
  border-radius: 10px;
  color: #fff;
  margin-top: -44px;
  margin-left: 25px;
  margin-right: 10px;
}
.blog .blog-item-author .blog-date .day {
  font-size: 41px;
  color: #fff;
  font-weight: 700;
  line-height: 41px;
}
.blog .blog-item-author .blog-date .month {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.blog .blog-item-author .admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.blog .blog-item-author .admin li {
  font-size: 12px;
  color: #777777;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}
.blog .blog-item-author .admin li svg {
  margin-right: 10px;
}
.blog .blog-item-title {
  margin: 33px 0 25px;
}
.blog .blog-item .blog-button a {
  padding: 17px 30px;
  border-radius: 5px;
  background: #1E1E2A;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 27px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  transition: 0.3s;
}
.blog .blog-item .blog-button a:hover {
  background: #32C36C;
}

/*============ blog post section end ============= */
/*============ pagination section start ============= */
#pagination-area {
  margin-bottom: 115px;
  margin-top: 30px;
}
#pagination-area .page-item {
  padding-right: 10px;
}
#pagination-area .page-item .page-link {
  color: #777777;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}
#pagination-area .page-item .page-link:hover {
  color: #fff;
  background: #32C36C;
}
#pagination-area .page-item .page-link:active {
  color: #fff;
  background: #32C36C;
}
#pagination-area .page-item .page-link:focus {
  box-shadow: none;
}

/*============ pagination section end ============= */
/*============ blog sidebar section start ============= */
.blog-post-sidebar {
  margin-left: 39px;
  /*============ categories area start ============= */
  /*============ categories area end ============= */
  /*============ recent post section start ============= */
  /*============ recent post section end ============= */
  /*============ news tag section start ============= */
  /*============ news tag section end ============= */
  /*============ offer service section start ============= */
  /*============ offer service section end ============= */
}
@media (max-width: 767px) {
  .blog-post-sidebar {
    margin-left: 0;
  }
}
.blog-post-sidebar .title-border h4 {
  position: relative;
}
.blog-post-sidebar .title-border h4:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background: #32C36C;
  top: 40px;
  margin-left: 0;
}
.blog-post-sidebar .categories {
  padding-bottom: 45px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .categories ul {
  padding-top: 52px;
}
.blog-post-sidebar .categories ul li {
  padding-bottom: 15px;
}
.blog-post-sidebar .categories ul li a {
  font-size: 16px;
  color: #777777;
  font-weight: 500;
}
.blog-post-sidebar .recent-post {
  padding: 50px 0px 37px 0px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .recent-post h4 {
  padding-bottom: 52px;
}
.blog-post-sidebar .recent-post .recent-post-item {
  display: flex;
  padding-bottom: 29px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-img {
  flex-basis: 26%;
  width: 76px;
  height: 74px;
  border-radius: 8px;
  overflow: hidden;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content {
  flex-basis: 74%;
  margin-left: 27px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content h6 {
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 700;
  line-height: 22px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content p {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  line-height: 19px;
  margin-top: 5px;
}
.blog-post-sidebar .news-tag-area {
  padding: 58px 0px 40px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .news-tag-area h4 {
  padding-bottom: 52px;
}
.blog-post-sidebar .news-tag-area .news-tag a {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  background: #1E1E2A;
  padding: 6px 14px;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  transition: 0.3s;
}
.blog-post-sidebar .news-tag-area .news-tag a:hover {
  background: #32C36C;
}
.blog-post-sidebar .offer-service-area {
  background: #1E1E2A;
  color: #fff;
  padding: 27px;
  margin-top: 46px;
}
.blog-post-sidebar .offer-service-area .offer-area {
  padding: 50px 25px;
  border: 1px solid #32C36C;
  text-align: center;
}
.blog-post-sidebar .offer-service-area .offer-area span {
  font-size: 30px;
  color: #32C36C;
  font-weight: 900;
}
.blog-post-sidebar .offer-service-area .offer-area h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 63px;
}
@media (max-width: 991px) {
  .blog-post-sidebar .offer-service-area .offer-area h2 {
    font-size: 30px;
    line-height: 43px;
  }
  .blog-post-sidebar .offer-service-area .offer-area h2 span {
    font-size: 20px;
  }
}
.blog-post-sidebar .offer-service-area .offer-area h4 {
  text-transform: uppercase;
}

/*============ blog sidebar section end ============= */
/*============ banner section start ============= */
.bg-banner {
  background: url("../images/blog-bg.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 155px 0;
}
.bg-banner h1 {
  width: 50%;
  margin: auto;
}
.bg-banner p {
  font-weight: 400;
  color: #fff;
}
.bg-banner svg {
  margin: 0px 5px 0px 5px;
}
.bg-banner span {
  font-size: 14px;
  text-transform: uppercase;
}

/*============ banner section end ============= */
/*============ blog post section start ============= */
.blog {
  padding-top: 130px;
}
.blog .blog-item {
  margin-bottom: 80px;
  /*==============comment-box start=============*/
  /*==============comment-box end=============*/
}
.blog .blog-item p {
  font-weight: 400;
}
.blog .blog-item-img {
  height: 443px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.blog .blog-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .blog-item-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.blog .blog-item-author .blog-date {
  background: #32C36C;
  text-align: center;
  padding: 10px 14px;
  border-radius: 10px;
  color: #fff;
  margin-top: -44px;
  margin-left: 25px;
  margin-right: 10px;
}
.blog .blog-item-author .blog-date .day {
  font-size: 41px;
  color: #fff;
  font-weight: 700;
  line-height: 41px;
}
.blog .blog-item-author .blog-date .month {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.blog .blog-item-author .admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.blog .blog-item-author .admin li {
  font-size: 12px;
  color: #777777;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}
.blog .blog-item-author .admin li svg {
  margin-right: 10px;
}
.blog .blog-item-title {
  margin: 33px 0 25px;
}
.blog .blog-item .description h4 {
  margin: 20px 0;
}
.blog .blog-item .description .client-comment {
  background: #32C36C;
  padding: 30px 25px 30px;
  border-radius: 5px;
  display: flex;
  margin-top: 40px;
}
.blog .blog-item .description .client-comment .client-quot-content {
  margin-left: 15px;
}
.blog .blog-item .description .client-comment .client-quot-content p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.blog .blog-item .description .client-comment .client-quot-content h6 {
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
}
.blog .blog-item .description .blog-content {
  display: flex;
  justify-content: space-between;
  margin: 78px 0px 46px;
}
.blog .blog-item .description .blog-content .content-img {
  flex-basis: 100%;
}
@media (max-width: 991px) {
  .blog .blog-item .description .blog-content .content-img {
    margin-bottom: 30px;
  }
}
.blog .blog-item .description .blog-content .content-right h4 {
  margin: 0;
  margin-bottom: 18px;
}
.blog .blog-item .description .blog-content .content-right p {
  font-weight: 400;
}
.blog .blog-item .related-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 15px;
}
.blog .blog-item .related-post .pre i {
  margin-right: 10px;
}
.blog .blog-item .related-post .pre:hover {
  color: #32C36C;
}
.blog .blog-item .related-post .next i {
  margin-left: 10px;
}
.blog .blog-item .related-post .next:hover {
  color: #32C36C;
}
.blog .blog-item .blog-nav {
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 54px;
}
.blog .blog-item .blog-nav .recent-post-item {
  display: flex;
  padding-bottom: 29px;
  width: 50%;
}
.blog .blog-item .blog-nav .recent-post-item .recent-post-img {
  flex-basis: 26%;
  width: 76px;
  border-radius: 8px;
  overflow: hidden;
}
.blog .blog-item .blog-nav .recent-post-item .recent-post-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .blog-item .blog-nav .recent-post-item .recent-post-content {
  flex-basis: 50%;
  margin-left: 27px;
}
.blog .blog-item .blog-nav .recent-post-item .recent-post-content h6 {
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 500;
  line-height: 22px;
}
.blog .blog-item .blog-nav .recent-post-item .recent-post-content p {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  line-height: 19px;
  margin-top: 5px;
}
.blog .blog-item .comment-box h2 {
  margin-bottom: 35px;
}
.blog .blog-item .comment-box input {
  width: 100%;
  padding: 18px 30px;
  margin-bottom: 32px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
}
.blog .blog-item .comment-box input:focus {
  outline: 0;
}
.blog .blog-item .comment-box textarea {
  width: 100%;
  padding: 30px 30px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  outline: 0;
}
.blog .blog-item .comment-box button {
  padding: 15px 32px;
  border-radius: 5px;
  background: #1E1E2A;
  margin-top: 45px;
  margin-bottom: 37px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
}

/*============ blog post section end ============= */
/*============ pagination section start ============= */
#pagination-area {
  margin-bottom: 115px;
  margin-top: 30px;
}
#pagination-area .pagination {
  flex-wrap: wrap;
}
#pagination-area .pagination .page-item {
  padding-right: 10px;
}
#pagination-area .pagination .page-item .page-link {
  color: #777777;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #E9F0FE;
  border-radius: 5px;
}
#pagination-area .pagination .page-item .page-link:hover {
  color: #fff;
  background: #32C36C;
}
#pagination-area .pagination .page-item .page-link:focus {
  box-shadow: none;
}

/*============ pagination section end ============= */
/*============ blog sidebar section start ============= */
.blog-post-sidebar {
  margin-left: 39px;
  /*============ categories area start ============= */
  /*============ categories area end ============= */
  /*============ recent post section start ============= */
  /*============ recent post section end ============= */
  /*============ news tag section start ============= */
  /*============ news tag section end ============= */
  /*============ offer service section start ============= */
  /*============ offer service section end ============= */
}
@media (max-width: 767px) {
  .blog-post-sidebar {
    margin-left: 0;
  }
}
.blog-post-sidebar .title-border h4 {
  position: relative;
}
.blog-post-sidebar .title-border h4:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background: #32C36C;
  top: 40px;
  margin-left: 0;
}
.blog-post-sidebar .categories {
  padding-bottom: 45px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .categories ul {
  padding-top: 52px;
}
.blog-post-sidebar .categories ul li {
  padding-bottom: 15px;
}
.blog-post-sidebar .categories ul li a {
  font-size: 16px;
  color: #777777;
  font-weight: 500;
}
.blog-post-sidebar .recent-post {
  padding: 50px 0px 37px 0px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .recent-post h4 {
  padding-bottom: 52px;
}
.blog-post-sidebar .recent-post .recent-post-item {
  display: flex;
  padding-bottom: 29px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-img {
  flex-basis: 26%;
  width: 76px;
  height: 74px;
  border-radius: 8px;
  overflow: hidden;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content {
  flex-basis: 74%;
  margin-left: 27px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content h6 {
  font-size: 16px;
  color: #1E1E2A;
  font-weight: 700;
  line-height: 22px;
}
.blog-post-sidebar .recent-post .recent-post-item .recent-post-content p {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  line-height: 19px;
  margin-top: 5px;
}
.blog-post-sidebar .news-tag-area {
  padding: 58px 0px 40px;
  border-bottom: 1px solid #E5E5E5;
}
.blog-post-sidebar .news-tag-area h4 {
  padding-bottom: 52px;
}
.blog-post-sidebar .news-tag-area .news-tag a {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  background: #1E1E2A;
  padding: 6px 14px;
  border-radius: 5px;
  margin: 0px 10px 10px 0px;
  transition: 0.3s;
}
.blog-post-sidebar .news-tag-area .news-tag a:hover {
  background: #32C36C;
}
.blog-post-sidebar .offer-service-area {
  background: #1E1E2A;
  color: #fff;
  padding: 27px;
  margin-top: 46px;
}
.blog-post-sidebar .offer-service-area .offer-area {
  padding: 50px 25px;
  border: 1px solid #32C36C;
  text-align: center;
}
.blog-post-sidebar .offer-service-area .offer-area span {
  font-size: 30px;
  color: #32C36C;
  font-weight: 900;
}
.blog-post-sidebar .offer-service-area .offer-area h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 63px;
}
@media (max-width: 991px) {
  .blog-post-sidebar .offer-service-area .offer-area h2 {
    font-size: 30px;
    line-height: 43px;
  }
  .blog-post-sidebar .offer-service-area .offer-area h2 span {
    font-size: 20px;
  }
}
.blog-post-sidebar .offer-service-area .offer-area h4 {
  text-transform: uppercase;
}

/*============ blog sidebar section end ============= */
.footer {
  background: #1E1E2A;
  color: #D4D9D6;
  padding-top: 107px;
}
.footer-logo p {
  padding: 32px 0px 24px 0px;
  font-size: 16px;
  color: #D4D9D6;
  font-weight: 400;
}
.footer-logo-social {
  display: flex;
}
.footer-logo-social a {
  border-radius: 100%;
  color: #777777;
  background: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  transition: all 0.4s;
}
.footer-logo-social a:hover svg {
  color: #32C36C;
}
.footer-content {
  padding-top: 45px;
}
.footer-content h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.footer-content-description {
  padding-top: 25px;
}
.footer-content-description li {
  padding-bottom: 20px;
}
.footer-content-description li a {
  color: #D4D9D6;
}
.footer-copyright {
  background: #1E1E2A;
  padding-top: 60px;
}
.footer-copyright p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  border-top: 1px solid #54545D;
  padding: 35px 0px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.footer-copyright p:before {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  height: 1px;
  width: 48px;
  background: #32C36C;
}
.footer-copyright p:after {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  height: 1px;
  width: 48px;
  background: #32C36C;
}

@media (max-width: 575px) {
  .footer .footer-logo {
    text-align: center;
  }
  .footer .footer-logo .footer-logo-social {
    justify-content: center;
  }
  .footer .justify-content-end {
    justify-content: center !important;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #1E1E2A;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #777777;
  font-style: normal;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  p {
    line-height: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 39px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  h2 {
    font-size: 20px;
    line-height: 29px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (max-width: 991px) {
  h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
@media (max-width: 991px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

.sokti-top-title h5 {
  font-size: 14px;
  color: #32C36C;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4px;
  position: relative;
}
.sokti-top-title h5::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 45px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  background: #1E1E2A;
}
.sokti-top-title p {
  line-height: 26px;
  margin-top: 15px;
}
@media (max-width: 991px) {
  .sokti-top-title p {
    line-height: 24px;
  }
}/*# sourceMappingURL=style.css.map */